.container{
    padding: 0 10%;
}
@media screen and (max-width: 750px){
    .container{
        padding: 0 3px;
    }
}
.todo{
    font-size: 120%;
    color: rgba(0,0,0,0.5);
    line-height: 37px;
}
.todo-btn{
    margin: -10px;
    padding: 0 0 0 21px;
    background-color: white;
    color: rgba(0,0,0,0.6);
    font-size: 115%;
    box-shadow: none;
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    height: 57px;
}