.code-container{
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-size: 18px;
    white-space: pre-line !important;
}